.entry-row {
  display: flex;
  gap: 70px;
}

.entry-row-container {
  transition: 0.3s;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  margin: 5px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.entry-row-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.entry-row-button-div {
  display: flex;
  align-items: center;
}

.entry-row-button-div div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.entry-row-data-div {
  flex: 5;
}

.entry-row-button-div img {
  max-height: 25px;
}

.entry-row-button-div img:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.paging-div {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: stretch;
}

.paging-div * {
  background-color: #2f6d80;
  border-radius: 30px;
}

.paging-div div {
  width: 30px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}

.paging-div button {
  font-size: medium;
  font-weight: bolder;
  width: 60px;
  color: white;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.disabled-button {
  background-color: #2f6d8069;
  color: white;
  border-width: 1px;
}

.disabled-button:hover {
  cursor: default;
}

.entry-name {
  font-weight: bold;
}

.entry-row-data-div a {
  text-decoration: none;
}

.shared-text {
  font-size: medium;
  padding-bottom: 5px;
}

.shared-users-header {
  font-size: small;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-row {
  display: flex;
  font-size: medium;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.user-row img {
  max-height: 15px;
  padding-left: 2px;
}

.user-row img:hover {
  cursor: pointer;
  background-color: rgba(185, 47, 29, 0.466);
}

.shared-username {
  padding-bottom: 5px;
}

.entry-form,
.account-settings {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-width: 1px;
  border-top-style: solid;
}

.entry-form input[type="submit"] {
  background-color: #2f6d80;
}

.account-settings p {
  cursor: pointer;
  color: rgb(104, 18, 18);
  text-decoration: underline;
  width: fit-content;
  margin-bottom: 10px;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.home-header img {
  max-height: 20px;
}

.home-header img:hover {
  cursor: pointer;
}

.home-header h2 {
  padding-bottom: 5px;
}

.share-new-div {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  align-items: center;
}

.share-new-div input[type="text"] {
  font-size: medium;
  height: 25px;
  padding: 0;
  padding-left: 5px;
}

.share-new-div input[type="submit"] {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  height: 30px;
}
